* {
    margin: 0;
    padding: 0;
}

body {
    background: url(./img/login_bg.jpg) no-repeat fixed;
    background-size: 100%, 100%;
}

#wrap {
    margin: auto;
    width: 800px;
    position: relative;
    top: 200px;
}

form {
    height: 400px;
    font-size: 15px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 25px;
}

input {
    width: 320px;
    height: 30px;
    margin-bottom: 10px;
    background-color: white;
    line-height: 15px;
    font-size: 15px;
    border: 1px groove white;
}

table {
    width: 500px;
    margin: 0 auto;
    position: relative;
    top: 30px;
    left: 10px;
}
table caption{
   height: 70px;
}

td {
    height: 39px;
    vertical-align: baseline;
}

.btn {
    background-color: azure;
    width: 90px;
    height: 40px;
    margin-left: 80px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    line-height: 32px;
    color: rgb(23, 44, 60);
}

.btn:hover {
    cursor: pointer;
}

.btn:active {
    transition-duration: 0.2s;
    background-color: cadetblue;
}

.sex {
    width: 25px;
    vertical-align: middle;
    padding-left: 10px;
    transform: scale(0.6);
}
